<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>add_recruitment</title>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/select.js" type="text/javascript"></script>
    <script src="../static/area.js" type="text/javascript"></script>
</head>
<script>

    $(function () {
        $("#add_cancel").click()
        // layui.use('form', function () {
        //     var form = layui.form;
        //     form.render();
        // });
    });

    function add_job() {
        var cname = $('#input_cname').val();
        var pname = $('#input_pname').val();
        var workplace = $('#province').val() + "-" + $('#district').val() + "-" + $('#city').val();
        var welfare = $('input:checkbox[name="welfare"]:checked').map(function () {
            return $(this).val();
        }).get().join(",");
        var salary = $('#input_price_min').val() + "-" + $("#input_price_max").val();
        var education = $('#input_education').val();
        var experience = $('#input_experience_min').val() + '-' + $('#input_experience_max').val() + "年";
        var requirement = $('#input_requirement').val();
        var ctype = $('#input_ctype').val();
        var scale = $('#input_scale_min').val() + "-" + $('#input_scale_max').val() + "人";
        var nature = $('#input_nature').val();

        var dlink = $('#input_pname').val();

        // console.log('cname: ' + cname);
        // console.log('pname: ' + pname);
        // console.log('workplace: ' + workplace);
        // console.log('welfare: ' + welfare);
        // console.log('salary: ' + salary);
        // console.log('education: ' + education);
        // console.log('experience: ' + experience);
        // console.log('requirement: ' + requirement);
        // console.log('ctype: ' + ctype);
        // console.log('scale: ' + scale);
        // console.log('nature: ' + nature);
        // console.log('dlink: ' + dlink);

        var url = '/add_job_data';
        var request_data = {
            'cname': cname,
            'pname': pname,
            'workplace': workplace,
            'welfare': welfare,
            'salary': salary,
            'education': education,
            'experience': experience,
            'requirement': requirement,
            'ctype': ctype,
            'scale': scale,
            'nature': nature,
            'dlink': dlink
        }

        $.post(url, request_data, function (response_data,status) {
            if (response_data['status'] == 'ok') {
                alert('招聘信息发送成功');
                $("#add_cancel").click()
            }

            // console.log('response_data: ' + response_data);
            // console.log('status: ' + response_data['status']);
            // console.log('id: ' + response_data['id']);
        }, 'json');
    }

</script>
<body>
<form class="layui-form">

    <!--cname-->
    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-block">
            <input type="text" id="input_cname" name="company_name" lay-verify="required" lay-reqtext="公司名称是必填项，岂能为空？"
                   placeholder="请输入公司名称"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--pname-->
    <div class="layui-form-item">
        <label class="layui-form-label">岗位名称</label>
        <div class="layui-input-block">
            <input type="text" id="input_pname" name="job_rname" lay-verify="required" lay-reqtext="岗位名称是必填项，岂能为空？"
                   placeholder="请输入岗位名称"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--salary-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">薪资范围</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input id="input_price_min" type="text" name="price_min" placeholder="￥" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input id="input_price_max" type="text" name="price_max" placeholder="￥" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">/ 月</label>
        </div>
    </div>

    <!--experience-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工作经验</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="input_experience_min" name="experience_min" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="input_experience_max" name="experience_max" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">/ 年</label>
        </div>
    </div>

    <!--scale-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司规模</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input id="input_scale_min" type="text" name="scale_min" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input id="input_scale_max" type="text" name="scale_max" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">/ 人</label>
        </div>
    </div>

    <!--education-->
    <div class="layui-form-item">
        <label class="layui-form-label">学历</label>
        <div class="layui-input-block">
            <select id="input_education" name="interest" lay-filter="aihao">
                <option value=""></option>
                <option value="大专">大专</option>
                <option value="本科" selected="">本科</option>
                <option value="硕士">硕士</option>
                <option value="博士">博士</option>
                <option value="无">无</option>
            </select>
        </div>
    </div>

    <!--ctype-->
    <div class="layui-form-item">
        <label class="layui-form-label">公司类型</label>
        <div class="layui-input-block">
            <select id="input_ctype" name="interest" lay-filter="aihao">
                <option value=""></option>
                <option value="民营公司">民营公司</option>
                <option value="国企">国企</option>
                <option value="合资">合资</option>
                <option value="外资（欧美）">外资（欧美）</option>
                <option value="外资（非欧美）">外资（非欧美）</option>
                <option value="上市公司">上市公司</option>
                <option value="事业单位">事业单位</option>
                <option value="创业公司">创业公司</option>
            </select>
        </div>
    </div>

    <!--nature-->
    <div class="layui-form-item">
        <label class="layui-form-label">行业</label>
        <div class="layui-input-block">
            <select id="input_nature" name="interest" lay-filter="aihao">
                <option value=""></option>
                <option value="网络游戏,互联网/电子商务">网络游戏,互联网/电子商务</option>
                <option value="航天/航空">航天/航空</option>
                <option value="金融/投资/证券">金融/投资/证券</option>
                <option value="通信/电信/网络设备">通信/电信/网络设备</option>
                <option value="酒店/旅游">酒店/旅游</option>
                <option value="通信/电信运营、增值服务">通信/电信运营、增值服务</option>
                <option value="汽车">汽车</option>
                <option value="电子技术/半导体/集成电路">电子技术/半导体/集成电路</option>
                <option value="计算机软件,计算机服务(系统、数据服务、维修)">计算机软件,计算机服务(系统、数据服务、维修)</option>
                <option value="网络游戏">网络游戏</option>
                <option value="计算机软件">计算机软件</option>
                <option value="仪器仪表/工业自动化,计算机服务(系统、数据服务、维修)">仪器仪表/工业自动化,计算机服务(系统、数据服务、维修)</option>
                <option value="政府/公共事业,建筑/建材/工程">政府/公共事业,建筑/建材/工程</option>
                <option value="计算机软件,互联网/电子商务">计算机软件,互联网/电子商务</option>
                <option value="互联网/电子商务,计算机软件">互联网/电子商务,计算机软件</option>
                <option value="教育/培训/院校">教育/培训/院校</option>
                <option value="保险">保险</option>
                <option value="多元化业务集团公司,计算机软件">多元化业务集团公司,计算机软件</option>
                <option value="广告,公关/市场推广/会展">广告,公关/市场推广/会展</option>
                <option value="房地产">房地产</option>
                <option value="快速消费品(食品、饮料、化妆品)">快速消费品(食品、饮料、化妆品)</option>
                <option value="机械/设备/重工,互联网/电子商务">机械/设备/重工,互联网/电子商务</option>
            </select>
        </div>
    </div>

    <!--workplace-->
    <div class="layui-form-item">
        <label class="layui-form-label">工作地点</label>
        <div class="layui-inline">
            <select name="province" id="province" lay-verify="required" lay-search
                    lay-filter="province">
                <option value="">省份</option>
            </select>
        </div>
        <div class="layui-inline">
            <select name="city" id="city" lay-verify="required" lay-search lay-filter="city">
                <option value="">地级市</option>
            </select>
        </div>
        <div class="layui-inline">
            <select name="district" id="district" lay-verify="required" lay-search>
                <option value="">县/区</option>
            </select>
        </div>
    </div>

    <!--welfare-->
    <div class="layui-form-item">
        <label class="layui-form-label">福利待遇</label>
        <div class="layui-input-block">
            <input type="checkbox" name="welfare" value="五险一金" title="五险一金">
            <input type="checkbox" name="welfare" value="定期体检" title="定期体检">
            <input type="checkbox" name="welfare" value="交通补贴" title="交通补贴">
            <input type="checkbox" name="welfare" value="餐饮补贴" title="餐饮补贴">
            <input type="checkbox" name="welfare" value="通讯补贴" title="通讯补贴">
            <input type="checkbox" name="welfare" value="员工旅游" title="员工旅游">
            <input type="checkbox" name="welfare" value="绩效奖金" title="绩效奖金">
        </div>
    </div>

    <!--requirement-->
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">职位信息</label>
        <div class="layui-input-block">
            <textarea id="input_requirement" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>

    <!--<div class="layui-form-item layui-form-text">
      <label class="layui-form-label">编辑器</label>
      <div class="layui-input-block">
        <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
      </div>
    </div>-->

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" onclick="add_job()" lay-filter="demo1">立即提交</button>
            <button id="add_cancel" type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
</html>