<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>user_info</title>
    <script src="../static/layui/layui.all.js"></script>
    <script src="../static/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<script>


   $(function () {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    });

  $(function () {
    // console.log( {{ g.type }} )
    var mtype = {{ g.type }}
    switch (mtype) {
      case 0:
        // console.log('root');
        // $('#user_info_phone').val('管理员');
        $('#user_type').val(0);
        $('#user_type').attr('disabled', 'disabled');
        break;
      case 1:
        // console.log('hr');
        // $('#user_info_phone').val('企业账号');
        $("#user_type option:first").remove();
        $('#user_type').val(1);
        break;
      case 2:
        // console.log('hunter');
        // $('#user_info_phone').val('求职者');
        $("#user_type option:first").remove();
        $('#user_type').val(2);
        break;
    }
    layui.form.render();
  })
  function submit_change() {
        var username = $('#user_info_username').val();
        var mail = $('#user_info_email').val();
        var phone = $('#user_info_phone').val();
        var type = $('#user_type').val();
        // console.log(username);
        // alert(username)
        // console.log(mail);
        // console.log(phone);
        // console.log(type);
        if (username == '' || username == null) {
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('用户名不得为空！');
          });
          return;
        }
        if (mail == '' || mail == null) {
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('邮箱不得为空！');
          });
          return;
        }
        if (phone == '' || phone == null) {
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('手机号不得为空！');
          });
          return;
        }
        if (type == '' || type == null) {
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('用户类型不得为空！');
          });
          return;
        }
        if(!(/^1[3456789]\d{9}$/.test(phone))) {
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('手机号码有误，请重填!');
          });
          return false;
        }
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
		if(!(reg.test(mail))){
		  layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('邮箱格式不正确!');
          });
          return false;
		}

    }
</script>
<body style="height: 100%">
<!--<div style="width:100%; margin: 0 auto">-->

<form class="layui-form layui-form-pane" style="width:25%; margin: 0 auto; height:100%; margin-top: 200px">

  <div class="layui-form-item" >
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input id="user_info_username" type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value='{{ g.username }}'>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-inline">
      <input id="user_info_email" type="text" name="email" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value='{{ g.email }}'>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手机</label>
    <div class="layui-input-inline">
      <input id="user_info_phone" type="text" name="phone" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value='{{g.phone}}'>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">用户类型</label>
    <div class="layui-input-inline">
      <select id="user_type" name="type" lay-filter="aihao">
        <option value="0">管理员</option>
        <option value="1">企业账号</option>
        <option value="2">求职者</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <button type="button" class="layui-btn" onclick="submit_change()" lay-filter="demo2">确认修改</button>
  </div>
</form>
<!--</div>-->

</body>
</html>